<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col col-md-6">
          <h5 class="card-title">{{ '::Menu:Locations' | abpLocalization }}</h5>
        </div>        
        <div class="text-end col col-md-6">
            
          <!-- Add the "new location" button here -->
          <div class="text-lg-end pt-2">
            <button id="create" class="btn btn-primary" type="button" (click)="createLocation()">
              <i class="fa fa-plus mr-1"></i>
              <span>{{ "::NewLocation" | abpLocalization }}</span>
            </button>
          </div>
            
        </div>
      </div>
    </div>
      <div class="card-body" *ngIf="!loadingData" >
         <ngx-datatable [rows]="location.items" [count]="location.totalCount" [list]="list" default>
          <ngx-datatable-column
            [name]="'::Actions' | abpLocalization"
            [maxWidth]="150"
            [sortable]="false"
          >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div ngbDropdown container="body" class="d-inline-block">
                <button
                  class="btn btn-primary btn-sm dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  ngbDropdownToggle
                >
                  <i class="fa fa-cog mr-1"></i>{{ '::Actions' | abpLocalization }}
                </button>
                <div ngbDropdownMenu>
                  <button ngbDropdownItem (click)="editLocation(row.id)">
                    {{ '::Edit' | abpLocalization }}
                  </button>
                  <button ngbDropdownItem (click)="delete(row.id)">
                    {{ '::Delete' | abpLocalization }}
                </button>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
  
          <ngx-datatable-column   [name]="'::LocationName' | abpLocalization">
            {{location.items.LocationName | json}}
          </ngx-datatable-column>
          <ngx-datatable-column
            [name]="'::City' | abpLocalization"
            prop="cityName"
            [sortable]="false"
          ></ngx-datatable-column>
          
        </ngx-datatable>
      </div>
      
    </div>
    <abp-modal [(visible)]="isModalOpen">
      <ng-template #abpHeader>
        <h3>{{ (selectedLocation.id ? '::Edit' : '::NewLocation' ) | abpLocalization }}</h3>
      </ng-template>
    
      
      <ng-template #abpBody>
        <form [formGroup]="form" (ngSubmit)="save()">
          
          <div class="form-group">
            <label for="location-name">LocationName</label><span> * </span>
            <input type="text" id="location-name" class="form-control" formControlName="LocationName" autofocus />
          </div>
          <div class="form-group">
            <label for="city-id">City</label><span> * </span>
            <select class="form-control" id="city-id" formControlName="cityId">
              <option [ngValue]="null">Select city</option>
              <option [ngValue]="city.id" *ngFor="let city of cities$ | async" >
                {{ city.cityName }}
              </option>
            </select>
          </div>
        </form>
      </ng-template>
    
      <ng-template #abpFooter>
        <button type="button" class="btn btn-secondary" abpClose>
            {{ '::Close' | abpLocalization }}
        </button>
      
        <!--added save button-->
        <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
              <i class="fa fa-check mr-1"></i>
              {{ '::Save' | abpLocalization }}
        </button>
      </ng-template>
    </abp-modal>